@import "./base.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

html,
body,
main {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-background-clip: text !important;
}

.text-small {
    font-size: 0.9em;
}

div.swal2-container button.swal2-styled.swal2-confirm {
    background-color: var(--bs-primary);

    &:focus {
        box-shadow: 0 0 0 3px rgba(var(--bs-primary-rgb), .5);
    }
}